@model Forums.ViewModels.Post.PostIndexModel

<h1>@Model.Title</h1>

<div>
    Author: @Model.AuthorName (@Model.AuthorRating)
    Created: @Model.Created
</div>

<div>
    @Model.Content
</div>

@if (Model.Replies.Any())
{
    foreach(var reply in Model.Replies)
    {
        <div>
            <div>
                Reply Author: @reply.AuthorName (@reply.AuthorRating)
                Reply Created: @reply.Created
            </div>
            <div>
                Reply: @reply.Content
            </div>
        </div>
    }
}
else
{

}